.navbarTop{
    padding: 0, 20px;
    margin: 0, 10px;
    display: flex;
    float: left;
    overflow: hidden;
}

.navbarTop a {
    padding: 0, 10px;
    margin: 5px;
}

.header_image_index {
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;

}