// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom CSS
@import 'custom';


.navbarTop{
    padding: 0, 20px;
    margin: 0, 10px;
    display: flex;
    float: left;
    overflow: hidden;
}

.navbarTop a {
    padding: 0, 10px;
}